@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: Quicksand, sans-serif;
  font-weight: 500;
}
.use {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
}
html {
  font-size: 16px;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
